export REPO_ROOT="${PWD}"
export VIRTUAL_ENV="${PWD}/.venv"
path_add PATH "/usr/local/bin/"
path_add PATH "$VIRTUAL_ENV/bin"
path_add PATH "$PWD/bin"
path_add PYTHONPATH "${PWD}"
export MPLBACKEND="agg"
